.header {
  align-items: baseline;
  background-color: green;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 0%;
}

.user p {
  display: block;
  margin-left: 20%;
  padding-bottom: 10px;
  padding-left: 20px;
}

.user {
  background-color: green;
  height: 30px;
  margin-top: 10px;
  width: 100px;
}

.links nav{
  align-items: center;
  background-color: rgb(15, 172, 15);
  display: flex;
  height: 50px;
  justify-content: space-between;
}

nav a {
  background-color: rgb(15, 172, 15);
  color: white;
  font-size: 20px;
  height: 100%;
  text-align: center;
  width: 100%;
}

nav a:hover {
  background-color: rgb(60, 192, 60);
}
